- content_for :fancygrid_projects_buttons do
  %li
    = link_to "XML", "#", :onclick => "Fancygrid.projects.download('xml'); return false;"
= fancygrid :projects do |column, record, value|
  - case column.identifier
  - when "projects.title"
    = value
  - when "tickets.id"
    = record.tickets.count
  - else
    = value