%ul.js-tablecontrol{ :class => html_class }
  %li
    %span
      = I18n.t("fancygrid.pagination.per_page", :default => "Results per Page")
    = select(:per_page, :to_i, fancygrid_page_opts[:selection], { :selected => fancygrid_page_opts[:selected] }, :class => "js-per-page")
  %li.separator
  %li.button
    %span.js-previous
      &nbsp;&nbsp;&nbsp;
  %li
    %span
      = I18n.t("fancygrid.pagination.page", :default => "Page")
    %input.js-page{ :type => "text", :value => "1"}
    %span
      = I18n.t("fancygrid.pagination.of", :default => "of")
    %span.js-page-total
      = fancygrid.result and fancygrid.result.total
  %li.button
    %span.js-next
      &nbsp;&nbsp;&nbsp;
  %li.separator
  %li.button
    %span.js-reload
      &nbsp;&nbsp;&nbsp;
  %li.button
    %span.js-clear
      &nbsp;&nbsp;&nbsp;
  %li.button
    %span.js-magnify
      &nbsp;&nbsp;&nbsp;
  %li.separator
  /- if fancygrid.toolbars[:default]
  /  - fancygrid.toolbars[:default].each do |k, v|
  /    %li.button
  /      %span{ :class => k, :onclick => "$(this).parents('.js-fancygrid').fancygrid('action', '#{k}', '#{v}'); return false;" }
  /        &nbsp;&nbsp;&nbsp;
  /