.js-fancygrid{ :class => fancygrid.name }
  = render :file => Fancygrid::Grid.control_template, :locals => { :fancygrid => fancygrid, :html_class => "top" }
  .js-tablewrapper
    %table
      %tr.js-header
        - fancygrid.each_cell do |cell|
          %th{ :class => cell.name }
            = cell.human_name
          
      %tr.js-search
        - fancygrid.each_cell do |cell|
          %td{ :class => cell.name}
            - if cell.searchable
              %input.js-attribute{ :type => "text", :name => cell.tag_name, :value => cell.search_value }
      
      - if fancygrid.result
        - fancygrid.result.each do |record|
          %tr.js-row
            - fancyrow(fancygrid, record).each do |value|
              %td
                = value
  
  = render :file => Fancygrid::Grid.control_template, :locals => { :fancygrid => fancygrid, :html_class => "bottom" }
  
:javascript
  $(function(){
    $(".js-fancygrid.#{fancygrid.name}").fancygrid({ url : '#{fancygrid.url}', name : '#{fancygrid.name}'});
    $(".js-fancygrid.#{fancygrid.name}").fancygrid("reloadPage");
  });
  