.js-fancygrid{ :class => fancygrid.name }
  = render :file => Fancygrid::Table.control_template, :locals => { :fancygrid => fancygrid, :html_class => "top" }
  .js-tablewrapper
    %table
      %tr.js-header
        - fancygrid.columns.each do |column|
          %th{ :class => column.css_name}
            = column.human_name
          
      %tr.js-search
        - fancygrid.columns.each do |column|
          %td{ :class => column.css_name}
            - if column.searchable
              %input.js-attribute{ :type => "text", :name => column.column_name, :value => column.search_value }
      
      - if params[:pagination]
        - fancygrid_results(fancygrid.name) do |item|
          %tr.js-row
            - fancygrid_result_values(fancygrid.name, item) do |value|
              %td
                = value
  
  = render :file => Fancygrid::Table.control_template, :locals => { :fancygrid => fancygrid, :html_class => "bottom" }
  
:javascript
  $(function(){
    $(".js-fancygrid.#{fancygrid.name}").fancygrid({ url : '#{fancygrid.url}'});
    $(".js-fancygrid.#{fancygrid.name}").fancygrid("reloadPage");
  });
  