%ul.js-tablecontrol{ :class => css_class }
  %li
    %span
      = I18n.t("fancygrid.pagination.per_page", :default => "Results per Page")
    = select_tag(:per_page, options_for_select(fancygrid.per_page_options, fancygrid.view.get_pagination_per_page), :class => "js-per-page")
    
  %li.separator
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-previous', :title => I18n.t("fancygrif.pagination.prev_page", :default => "Previous page"))
    
  %li
    %span
      = I18n.t("fancygrid.pagination.page", :default => "Page")
    %input.js-page{ :type => "text", :value => fancygrid.view.get_pagination_page + 1 }
    %span
      = I18n.t("fancygrid.pagination.of", :default => "of")
    %span.js-page-total
      = 0
      
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-next', :title => I18n.t("fancygrif.pagination.next_page", :default => "Next page"))
  %li.separator
  %li
    %span
      = I18n.t("fancygrid.pagination.results", :default => "Total entries")
    %span.js-result-total
      = fancygrid.resultcount or 0
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-reload', :title => I18n.t("fancygrif.pagination.reload", :default => "Reload"))
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-clear', :title => I18n.t("fancygrif.search.clear", :default => "Clear search"))
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-magnify', :title => I18n.t("fancygrif.search.toggle", :default => "Toggle Search"))
  %li.button
    = image_tag('/images/fancygrid/spacer.gif', :size => '16x16', :class => 'js-sort', :title => I18n.t("fancygrif.sort.submit", :default => "Sort columns"))
  %li.separator
  
  = yield :fancygrid_buttons