%ul.fg-control-bar{ :class => css_class }
  %li
    %span
      = t(:"pagination.per_page", :default => "Results per Page", :scope => Fancygrid.i18n_scope)
    = select_tag(:per_page, options_for_select(fancygrid.per_page_options, fancygrid.view.get_pagination_per_page), :class => "fg-per-page")
    
  %li.separator
  %li.button
    = fancygrid_button(:"fg-previous", :"pagination.prev_page", "Previous page")
    
  %li
    %span
      = t(:"pagination.page", :default => "Page", :scope => Fancygrid.i18n_scope)
    = text_field_tag(:"fg-page", fancygrid.view.get_pagination_page + 1, :class => :"fg-page" )
    %span
      = t(:"pagination.of", :default => "of", :scope => Fancygrid.i18n_scope)
    %span.fg-page-total
      = 0
      
  %li.button
    = fancygrid_button(:"fg-next", :"pagination.next_page","Next page")
  %li.separator
  %li
    %span
      = t(:"pagination.results", :default => "Total entries", :scope => Fancygrid.i18n_scope)
    %span.fg-result-total
      = fancygrid.resultcount or 0
  %li.button
    = fancygrid_button(:"fg-reload", :"pagination.reload", "Reload")
  %li.button
    = fancygrid_button(:"fg-clear", :"search.clear", "Clear search")
  %li.button
    = fancygrid_button(:"fg-magnify", :"search.toggle", "Toggle Search")
      
  - if fancygrid.has_sort_window?
    %li.button
      = fancygrid_button(:"fg-sort", :"sort.submit", "Sort columns")
  %li.separator
  
  = yield :fancygrid_buttons