:ruby
  fullfill_conditions = %w(any all).map{ |name|
    [I18n.t("fancygrid.extendedsearch.#{name}", :default => name), name]
  }
  searchable_columns = fancygrid.serachable_leafs.map{ |leaf| 
    [leaf.human_name, leaf.tag_name] 
  }
  search_operators = Fancygrid.extended_search_operators.map { |op| 
    [I18n.t("fancygrid.extendedsearch.operator.#{op.to_s}" , :default => op.to_s.humanize ), op.to_s] 
  }
    
.js-extendedsearch#extended_search
  .extended_search_top
    %span
      = check_box_tag(:all, :all, fancygrid.view.get_search_operator.to_s == "all", :class => "js-fulfill_all_conditions")
    %span
      = I18n.t("fancygrid.extendedsearch.introduction", :default => 'All conditions must met:')
      
  %ul.js-extended_search_criteria
    - fancygrid.each_leaf do |leaf|
      - fancygrid.view.get_node_search_conditions(leaf).each do |condition|
        %li
          = select_tag(:column_name, options_for_select(searchable_columns, leaf.tag_name))    
          = select_tag(:operator, options_for_select(search_operators, condition[:operator]))
          %input{ :type => :text, :name => :column_value, :value => condition[:value] }
          %button.js-extended_search_remove_row= "-"
  
  .extended_search_bottom
    %button.js-clear
      =I18n.t("fancygrid.extendedsearch.remove_all", :default => 'remove all') 
    %button.js-search_submit
      =I18n.t("fancygrid.extendedsearch.search", :default => 'search')
    %button.js-extended_search_add_row
      = "+"
.extended_search_row_tpl 
  = select_tag(:column_name, options_for_select(searchable_columns))    
  = select_tag(:operator, options_for_select(search_operators ))
  %input{ :type => :text, :name => :column_value, :value => "" }
  %button.js-extended_search_remove_row= "-"
