:ruby
  fullfill_conditions = %w(any all).map{ |name|
    [I18n.t("fancygrid.extendedsearch.#{name}", :default => name), name]
  }
  searchable_columns = fancygrid.serachable_leafs.map{ |leaf| 
    [leaf.human_name, leaf.tag_name] 
  }
  search_operators = Fancygrid.extended_search_operators.map { |op| 
    [I18n.t("fancygrid.extendedsearch.operator.#{op.to_s}" , :default => op.to_s.humanize ), op.to_s] 
  }
    
.js-extendedsearch#extended_search
  .extended_search_top
    %span
      = select(:fulfill_all_conditions, "id", fullfill_conditions, { :selected => :any }, :class => "js-fulfill_all_conditions")
    %span
      = I18n.t("fancygrid.extendedsearch.introduction", :default => 'of the following conditions must be met:')
      
  %ul#extended_search_criteria
  .extended_search_bottom
    %button{ :id => "extended_search_remove_all_rows"}
      =I18n.t("fancygrid.extendedsearch.remove_all", :default => 'remove all') 
    %button{ :id => "extended_search_submit"}
      =I18n.t("fancygrid.extendedsearch.search", :default => 'search')
.extended_search_row_tpl 
  = select_tag("column_name", options_for_select(searchable_columns), { :id => nil})    
  = select_tag("operator", options_for_select(search_operators ), { :id => nil})
  %input{ :type=>"text", :name=>"column_value", :value=>"" }
  %button#extended_search_remove_row= "-"
  %button#extended_search_add_row= "+"
