.js-fancygrid{ :class => fancygrid.name }
  - unless fancygrid.is_static?
    = render(:template => Fancygrid.controls_template, :locals => { :fancygrid => fancygrid, :html_class => "top" })
  .js-tablewrapper
    - unless fancygrid.is_static?
      %ul.js-search
        - if leaf.searchable
          - fancygrid.each_leaf do |leaf|
            %li{ :class => leaf.css_class }
              %label{ :for => leaf.tag_name }
                = leaf.human_name
              %input.js-attribute{ :type => "text", :name => leaf.tag_name, :value => leaf.search_value }
      
    - if fancygrid.dataset
      %ul.js-row
        - fancygrid.dataset.each do |record|
          %li{ :class => fancygrid.name.to_s.singularize }
            = fancy_rendering_for(record, fancygrid, &cells_block)
                
  - unless fancygrid.is_static?
    = render(:template => Fancygrid.controls_template, :locals => { :fancygrid => fancygrid, :html_class => "bottom" })

- unless fancygrid.is_static?
  :javascript
    $(function(){
      var fancyOptions = #{fancygrid.js_options};
      $(".js-fancygrid.#{fancygrid.name}").fancygrid(fancyOptions);
      if(!fancyOptions.instantFetchData){
        $(".js-fancygrid.#{fancygrid.name}").fancygrid("reloadPage");
      }
    });