.fg-sort-window.ui-widget-overlay{ :style => "display: none;" }
.fg-sort-content{ :style => "display: none;" }
  .ui-state-highlight.ui-corner-all
    = t(:"sort.info", :scope => Fancygrid.i18n_scope)
  %ul.fg-sortable-visible.fg-sortable.ui-widget-content.ui-corner-all
    %li.fg-not-sortable.ui-corner-all.ui-state-active
      %h4
        = t(:"sort.header_visible", :scope => Fancygrid.i18n_scope)
    - fancygrid.each_visible_leaf do |leaf|
      %li.ui-state-default.ui-widget-header.ui-corner-all{ :class =>  leaf.css_class, :id => leaf.tag_name} 
        %span.ui-icon.ui-icon-arrowthick-2-n-s
        = leaf.human_name
  %ul.fg-sortable-hidden.fg-sortable.ui-widget-content.ui-corner-all
    %li.fg-not-sortable.ui-corner-all.ui-state-active
      %h4
        = t(:"sort.header_hidden", :scope => Fancygrid.i18n_scope)
    - fancygrid.each_hidden_leaf do |leaf|
      %li.ui-state-default.ui-widget-header.ui-corner-all{ :class =>  leaf.css_class, :id => leaf.tag_name} 
        %span.ui-icon.ui-icon-arrowthick-2-n-s
        = leaf.human_name